.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.705);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 80%;
  max-height: 90vh;
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.close {
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
}

.title {
  text-align: center;
  color: #d1411e;
}

.details {
  display: flex;
  justify-content: space-between;
  grid-gap: 100px;
  flex-wrap: wrap;
  overflow-y: scroll;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: 90%;
  }
  .details {
    display: block;
    overflow-y: scroll;
  }
}
